body {
color: deeppink;
background-color: lightpink ;
margin: 0px;
font-family: "Nerko One", cursive;
}

header {
border-bottom: solid 2px deeppink;
padding: 20px; 
font-size: 32px;
}
.chamada {
background: rgb(233, 154, 198);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
margin-right: 20px;

}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {
    height: 200px;
}
.categoria-videos {
display: flex;
overflow-x: auto;
gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid brown;
}